GENFIRE.egg-info/
genfire.egg-info/
.idea/
.DS_Store
build/
dist/
data/
UNKNOWN.egg-info/
bin/

PhaseRetrieval/
dist/
build/
*.tif
*.tiff
*.xml
*.pyc
*rec*.mrc
*rec*.txt
results*
# test*
projections*
